---
import Layout from "../layouts/Layout.astro";
import Badbe from "../components/Badbe.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";

---

<Layout
	title="Porfolio Daniel Orta -Desarrollador y Programador Web"
	description="Contrata a Daniel para crear tu aplicaci칩n web o m칩bil. Desarrollador Web especializado en crear aplicaciones 칰nicas"
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img
				class="rounded-full size-12 mb-4"
				src="https://avatars.githubusercontent.com/u/148881254?v=4"
				alt="Foto Daniel"
			/>

			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hey, Soy Daniel Orta
				<a
					href="https://www.linkedin.com/in/daniel-orta-garcia-45860561"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badbe>Disponible para trabajar</Badbe>
				</a>
			</h1>
			<h2 class=" text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+1 a침o de experiencia.</span>
				<span class="text-yellow-200/90">Front End Developer.</span>
				<span class="text-red-200/90"> De C치diz, Espa침a 游쀯릖.</span>
				<span class="opacity-75"
					>Especializado en crear aplicaciones 칰nicas.</span
				>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill
					href="https://www.linkedin.com/in/daniel-orta-garcia-45860561"
				>
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>

				<SocialPill href="https://github.com/daniorta">
					<GithubIcon class="size-4 md:size-6" />
					Github
				</SocialPill>

				<SocialPill href="mailto:daniel_orta88@hotmail.com">
					<MailIcon class="size-4 md:size-6" />
					daniel_orta88@hotmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="tex-3xl font-semibold mb-6 flex flex-row gap-x-3 items-center " >
				<Briefcase class="size-7" />
				Experiencia laboral  
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex flex-row gap-x-3 items-center" >
				<CodeIcon class="size-7" />
				Proyectos  
			</h2>
			<Projects />
		</SectionContainer>

	</main>
</Layout>

<!-- Voy por el minuto 48:58 -->
