---
const personalImageAlt = "Daniel Orta";
import Badbe from "../components/Badbe.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img
            class="rounded-full shadow-lg size-16"
            src="https://avatars.githubusercontent.com/u/148881254?v=4"
            alt={personalImageAlt}
        />
        <a
            href="https://www.linkedin.com/in/daniel-orta-garcia-45860561"
            target="_blank"
            rel="noopener"
            class="flex items-center transition md:justify-center md:hover:scale-105"
        >
            <Badbe>Disponible para trabajar</Badbe>
        </a>
    </div>

    <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
        Hey, Soy Daniel Orta
    </h1>

    <p
        class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
        <strong>Desarrollador Front End Developer,</strong>
        de Cádiz, España 🇪🇸. Especializado en crear aplicaciones únicas.
    </p>

    <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="mailto:daniel_orta88@hotmail.com">
            <MailIcon class="size-4" />
            Contáctame
        </SocialPill>

        <SocialPill
            href="https://www.linkedin.com/in/daniel-orta-garcia-45860561">
            <LinkedInIcon class="size-4" />
            LinkedIn
        </SocialPill>
    </nav>
</div>
